* {
margin: 0;
padding: 0;
}
body {
height: 100vh;
width: 100vw;
background: #18191f;
}
.container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
}

#apple,
#twitter,
#github,
#facebook {
font-size: 8em; /*icon size*/
background-color: #000000; /*icon background defulat value #18191f, alternative #000080, #000000*/
color: #000050; /*#000080change the icon color default value #fff*/
box-shadow: 2px 2px 2px #000080, 10px 
    1px 120px #000080, /*defualt value 10,1,12px*/
    2px 2px 10px #000080, 2px 2px 3px 
    #000080, inset 2px 2px 10px #000080,
    inset 2px 2px 10px #000080, inset 2px 
    2px 10px #000080,
    inset 2px 2px 10px #000080;
border-radius: 29px; /*defulat value 29px, alternative 290px*/
padding: 11px 19px;
margin 0 40px;
animation: animate 3s linear infinite;
text-shadow: 
}

#twitter {
animation-delay: 0.3s;
}

#facebook {
animation-delay: 0.7s;
}

#github {
animation-delay: 0.1s;    
}

/*@-webkit-keyframes change-color {
    0% { background-color: red; }
    100% {background-color: green; }
} it´s for background-color change animation*/

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
    /*.animated {
        -webkit-animation: change-color 3s infinite; it´s for background-color change animation*/
    }
}